footer{
  background: #005B8F;
  color: beige;
  padding: 15px;
  box-sizing: border-box;
}

.contato-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

li{
  font-size: 20px;
}

a{
  cursor: pointer;
  color: white;
}

span{
margin-top: 15px;
margin-left: 10px;
}
