<main>
  <a class="voltar" routerLink=""><i class="bi bi-arrow-left"></i></a>
<div class="login-container">
<div class="login">
   <input placeholder="Email" type="email"  name="email" id="email">
   <input placeholder="Senha" type="password" name="password" id="password">
</div>

<div class="btn-container">
   <button class="entrar">Entrar</button>
   <button class="google"><i class="bi bi-google"></i><span>Entrar com o Google</span></button>
   </div>
<div class="about">
  <a routerLink="" routerLinkActive="active">Esqueceu a senha?</a>
  <a routerLink="" routerLinkActive="active">Cadastrar-se</a>
</div>
</div>
</main>
