<section>
  <div class="content">
    <div class="principal-container">
      <img class="principal" src="assets\hifive.jpg" alt="Cachorro">
      <div class="text">
        <p>As melhores roupas para seu pet</p>
          <a routerLink="/products" routerLinkActive="active" class="confira">Confira</a>
             </div>
         </div>
            <div class="vitrine-container">
                <img src="assets\cachorro-moletom-preto.PNG" alt="Cachorro">
                <img src="assets\cachorro-roupa-rosa.PNG" alt="Cachorro">
                <img src="assets\vermelho.PNG" alt="Cachorro">
             </div>
          </div>
</section>
